.btn{
    background: #E95D2A;
    color: white;
    padding: 18px ;
    width: 240px;
    border-radius: 28px;
    font-weight: 900;
    font-size: 18px;
    border: none;
    cursor: pointer;
    letter-spacing: 0.06em;
    box-shadow: 0px 0px 38px 0px rgba(212,66,50,0.4);
    transition: 0.2s;
}
.btn:hover{
    background: #c44d22;
   
}
.btn:active{
    transform: scale(0.95);
}
.container{
    padding: 0 15px;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}