.section-top{
    height: 100vh;
    background: url(../img/top-background.jpg) no-repeat center;
    background-color: black;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 400px;
    padding: 100px 0;
}
.section-top::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
.section-top-container{
    position: relative;

}
.section-top-info{
    font-size: 24px;
    font-family: monserrat;
    font-weight: 900;
    color: #E95D2A;
    margin: 0 0 20px;
}
.section-top-title{
    font-size: 55px;
    font-weight: 900;
    margin: 0 0 40px;
}